<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talha's Blog</title>
  </head>
  <body>
    <h1>Blog index</h1>
    <div style="text-align: end;"><a href="/logout">Çıkış yap</a></div>
    <div>
      <label for="search">Ara : </label><input type="text" name="search" id="search" value="<%=search %>">
      <button id="result">Ara </button> 
    </div> 
    <%
    let range = 1;
    if(posts[0]){
      range = Math.ceil(posts[0].count/3)+1;
    } 
    for(let i=1; i<range; i++){ %> 
      <button class="page"><%= i %> </button>
    <% } %> 
    <br> <div> <%= search ? search+" içerisindeki sonuçlar "+ (range -1)+ " sayfa gösteriliyor  " : "" %>  </div> <br>

    <form action="/" enctype="multipart/form-data" method="POST">
      <label for="userid">Userid: <input type="text" name="userid" value="" />  </label>
      <br />
      <label for="title">title: <input type="text" name="title" value="" /> </label>
      <br />
      <label for="content"
        >content: <input type="text" name="content" value=""/>
      </label>
      <br />
      <input type="file" id="img" name="img" accept="image/*"><br>
      <button type="submit">Create</button>
    </form> <br> <br>

   

    <div style="text-align: center;">
      <% posts.forEach(function(post) { %>

      <!-- ONE POST HERE -->
      
      <% if(post.img !== '' && post.img !== null){ %>
        <img src="img/<%= post.img %> " width="200" alt="Error">
      <% } else{ %>
        <img src="img/static/placeholder.png " width="200" alt="Error">
      <% } %> 

      <h2> <%= post.title %>  </h2>
      <p> <%= post.content %>  </p>
      <p> <small><%= post.createdat %> </small> </p>
        
      <p> <strong>Paylaşan:</strong> <%= post.userid.username %>  </p>
      <div> 
        <button class="delete" data-target="<%= post.id %> ">Sil</button>
        <a href="post/<%= post.post_url %> "><strong><%= post.comments === 0 ? "Henüz yorum yapılmadı" : post.comments+" yorum"%> </strong></a>  
      </div>
      <hr>
      <!-- ONE POST HERE -->

      <% }); %>
    </div>

    

    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
